@import '../../assets/variables';

.chat-item {
  padding: 15px;
  border-bottom: 1px solid #e1e1e1;

  &.active {
    background-color: #e6f4ff;
  }

  p {
    margin: 0;
    font-weight: bold;
  }

  span {
    font-size: 12px;
    color: #999;
  }
}

