@import "../../assets/variables";

.input-with-label {
  align-items: center;
  display: flex;
  justify-content: space-between;

  div {
    border-bottom: none;
  }

  div .input {
    &__element {
      border-bottom: none;
      width: auto;
    }
  }

  &__text {
    color: $text-color;
    font: $font-regular;
  }

  &__hr {
    border-bottom: 1px $text-light-grey-color;
    margin-top: 0;
    opacity: 0.3;
  }
}
