@import '../../assets/variables.scss';

.button {
  background-color: $button-bgcolor;
  border: 0;
  border-radius: 8px;
  color: $button-color;
  cursor: pointer;
  height: 40px;
  text-align: center;
  width: 100%;
}
