<div class="avatar-upload">
  <label for="avatar">Выберите новый аватар:</label>
  <input type="file" id="avatar" name="avatar" accept="image/*">
  <div id="avatar_upload-error" class="settings-page__error"></div>
</div>
