@import '../../assets/variables.scss';

.profile-page {
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 600px;

  &__content {
    flex: 1;
  }

  &__avatar-block {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__avatar {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }

  &__input {
    margin-top: 8px;
  }

  &__link {
    flex-direction: row;
    font: 500 13px / 13px Inter, "Segoe UI", Roboto, "Helvetica Neue", sans-sans;
    height: 0;
    justify-content: normal;
    margin-bottom: 15px;
    margin-top: 15px;


  }

  &__red {
    color: $text-red;
  }
}
