<div class="chat-menu">
  <form class="add-user-form">
    <label for="add-user-name">Добавить пользователя:</label>
    <input type="search" name="user-name" id="add-user-name" required/>
    {{{ button_add_user }}}
  </form>

  <form class="remove-user-form">
    <label for="remove-user-name">Удалить пользователя:</label>
    <input type="search" name="user-name" id="remove-user-name" required/>
    {{{ button_remove_user }}}
  </form>
</div>
