@import "./assets/variables";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: $text-bg-color;
  color: $text-color;
  display: flex;
  font: $font-regular;
  justify-content: center;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-size: inherit;
  line-height: inherit;
}
