@import '../../assets/variables';


.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #e1e1e1;
  background-color: #f9f9f9;

  &__element {
    flex-grow: 1;
  }

  svg {
    background-color: #007aff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
  }
}
